body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex; /* Convertir el encabezado en un contenedor flexible */
    justify-content: space-between; /* Distribuir el espacio entre los elementos hijos */
    align-items: center; /* Alinear verticalmente los elementos al centro */
}

header img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

header img,
header h1 {
    display: inline-block;
    vertical-align: middle; /* Esto alinea verticalmente los elementos */
}

header h1 {
    margin: 0; /* Quita el margen predeterminado del título */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav {
    margin-left: auto;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.article {
    display: flex;
    align-items: center; /* Centra verticalmente los contenidos */
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Evita que los contenidos sobresalgan del artículo */
}

.image-container {
    flex: 1;
}

.text-container {
    flex: 3;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Elimina el espacio extra debajo de la imagen */
}

.article.odd {
    flex-direction: row-reverse; /* Invierte la dirección de los elementos en artículos impares */
}

/* Estilos del slider */
.slider-container {
    width: 80%; /* Establecemos un ancho máximo para el contenedor */
    max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
    overflow-x: auto; /* Permitimos el desplazamiento horizontal */
    white-space: nowrap; /* Evitamos que las imágenes se rompan en múltiples líneas */
    margin: 0 auto; /* Esto centrará horizontalmente el slider */
}

.slider-container .slide {
    display: inline-block; /* Hacemos que los slides se muestren en línea */
    vertical-align: top; /* Alineamos los slides en la parte superior */
    margin-right: 10px; /* Añadimos un espacio entre los slides */
}

.slider {
    text-align: center; /* Centra horizontalmente el contenido */
}

.slider h2 {
    margin-bottom: 20px;
}

.slide img {
    max-width: 200px;
    height: auto;
}
